<%= node[:appdeploy][:home][:log_dir]  %>/logs/<%= node[:appdeploy][:app_name] %>.log {
    missingok
    compress
    daily
    copytruncate
    rotate 20
    size 1G
    create 0777 <%= node[:appdeploy][:user][:name] %> <%= node[:appdeploy][:user][:group] %>
}
