$ModLoad imfile.so #
<% if @apps !=nil  %>
       <% @apps.each do |app| %>
$InputFileName <%= @app_dir %>/logs/<%= app.gsub(/[0-9]|\.|jar$/,"").chop %>.log
$InputFileTag <%= app.gsub(/[0-9]|\.|jar$/,"").chop %>:
$InputFileStateFile stat-<%= app.gsub(/[0-9]|\.|jar$/,"").chop %>
$InputRunFileMonitor

	<% end %>
<% end %>
