#!/bin/bash
# MANAGED BY CHEF
# chkconfig: 2345 85 60

start(){
echo "Starting Application <%= @app_name %>"
<% if node[:appdeploy][:logrotate][:enabled].to_s == true %>
if [[ -e <%= node[:appdeploy][:home][:log_dir] %>/<%= node[:appdeploy][:app_name] %>.log ]]
then
       logrotate -f /etc/logrotate.d/<%= node[:appdeploy][:app_name] %>
fi
<% end %>

echo "Starting Application <%= @app_name %>" >> "<%= node[:appdeploy][:home][:log_dir] %>/<%= node[:appdeploy][:app_name] %>.log"  2>&1 &

su tomcat -c "/usr/bin/nohup /usr/bin/java \
<%= node[:appdeploy][:jvm_opts] %> \
<% unless @node_obj[:base][:global_opts].nil?  %>
<%   @node_obj[:base][:global_opts].each do |key, value| %>
<%= key %>=<%= value  %> \
<%   end %>
<% end %>
<% unless @node_obj[node.chef_environment][:java_opts].nil?  %>
<%   @node_obj[node.chef_environment][:java_opts].each do |key, value| %>
<%= key %>=<%= value  %> \
<%   end %>
<% end %>
-jar <%= node[:appdeploy][:home][:app_dir] %>/<%= node[:appdeploy][:download][:filename] %> >> <%= node[:appdeploy][:home][:log_dir] %>/<%= node[:appdeploy][:app_name] %>.log  2>&1 &"
}

stop(){

echo "Stopping Application <%= node[:appdeploy][:app_name] %>" >> "<%= node[:appdeploy][:home][:log_dir] %>/<%= node[:appdeploy][:app_name] %>.log"  2>&1

if ps -ef | grep [j]ava >/dev/null 2>&1
then
        ps -ef | grep `echo <%= node[:appdeploy][:app_name]  %> | sed 's/./[\0]/'` | awk '{print $2}' | xargs kill -9 > /dev/null 2>&1
fi
}

status(){

if ps -ef | grep [j]ava | grep <%= node[:appdeploy][:app_name] %> >/dev/null 2>&1
then
        echo "Application <%= node[:appdeploy][:app_name] %> is running..."
else
        echo "Application <%= node[:appdeploy][:app_name] %> is NOT running..."
        exit 1
fi
}

restart(){
  stop
  start
}

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  status)
    status
    ;;
  restart)
     restart 
    ;;
  *)
    echo "Usage: /etc/init.d/<%= node[:appdeploy][:app_name] %> {start|stop|status|restart}"
    exit 1
    ;;
esac

exit 0
